#lab {
  background-color:#44546A;
  color:white;
}


 a:hover, a:focus {
     color: inherit;
 }
 a {
     color: inherit;
 }

.btn-accounting  {
  background-color: plum;
  color: black;
}
.btn-por  {
  background-color: beige;
  color: black;
}

.btn-list  {
  background-color: SteelBlue;
}
