#planningTech  {
  color:white;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #5B9BD5;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #536E94;
}
#table_planningTech th {
  text-align: center;
}


td:nth-child(9), th:nth-child(9) {
 border-left: solid 2px white !important;
}
td:nth-child(2), th:nth-child(2) {
 border-left: solid 2px white !important;
}
.black  {
  background-color: black;
}
