#page-content-wrapper div{
  color:white;
  background-color: rgb(68, 84, 106);
}
#page-content-wrapper .btn-group  {
  color:black;
}

.highlight  {
  background-color: darkgreen !important;
}
.table-hover tbody tr:hover , .table-hover tbody tr:hover th {
  background-color: #5B9BD5;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #536E94 ;
}

table.DTFC_Cloned tr {
  background-color: inherit;
  margin-bottom: 0;
}
div.DTFC_LeftHeadWrapper table,
div.DTFC_RightHeadWrapper table {
  border-bottom: none !important;
  margin-bottom: 0 !important;
  background-color: inherit;
}

input,  select{
  color:black;
}
a {
  color:white;
}

.createSpace {
  margin-right:20px;
}


td[data-toggle="tooltip"]  {
  background-image : url("../img/check.png");
  background-position : top right;
  background-size: 15px;
  background-repeat: no-repeat;

}
td[data-toggle="tooltip2"]  {
  background-image : url("../img/changed.png");
  background-position : top right;
  background-size: 15px;
  background-repeat: no-repeat;
}



.refused {     /* attente validation */
  background-color: darkred !important;
  opacity: 0.5;
  color:white;
}
.validated {     /* validé */
  background-color: darkgreen !important;
  opacity: 0.5;
  color:white;
}


.type_ {     /* Absence */
  background-color: lightgray;
  opacity: 0.5;
  color:black;
}


.today {
  background-color : purple;
}


.type_1 {     /* travail  */
}
.unconfirmed_1 {
  animation: blinker1 1s linear infinite;
}
@keyframes blinker1 {
  50% {
    border-width: 0 20px 0 20px;
    border-color : darkblue;
  }
}
.type_3 {     /* RTT  */
  background-color: lightyellow;
  opacity: 0.5;
  color:black;
}
.unconfirmed_3 {
  animation: blinker3 1s linear infinite;
}
@keyframes blinker3 {
  50% {
    border-width: 0 20px 0 20px;
    border-color : lightyellow;
  }
}
.type_4 {     /* Récup  */
  background-color: lightyellow;
  opacity: 0.5;
  color:black;
}
.unconfirmed_4 {
  animation: blinker4 1s linear infinite;
}
@keyframes blinker4 {
  50% {
    border-width: 0 20px 0 20px;
    border-color : lightyellow;
  }
}
.type_5 {     /* Maladie  */
  background-color: purple;
  opacity: 0.5;
  color:white;
}
.unconfirmed_5 {
  animation: blinker5 1s linear infinite;
}
@keyframes blinker5 {
  50% {
    border-width: 0 20px 0 20px;
    border-color : purple;
  }
}
.type_6 {     /* Déplacement  */
  background-color: sienna;
  opacity: 0.5;
  color:white;
}
.unconfirmed_6 {
  animation: blinker6 1s linear infinite;
}
@keyframes blinker6 {
  50% {
    border-width: 0 20px 0 20px;
    border-color : darkblue;
  }
}
.type_7 {     /* Férié  */
  background-color: black;
  color:black;
}

.unconfirmed_7 {
  animation: blinker7 1s linear infinite;
}
@keyframes blinker7 {
  50% {
    border-width: 0 20px 0 20px;
    border-color : black;
  }
}
.type_8 {     /* Fermé  */
  background-color: black;
  opacity: 0.5;
  color:white;
}
.unconfirmed_8 {
  animation: blinker8 1s linear infinite;
}
@keyframes blinker8 {
  50% {
    border-width: 0 20px 0 20px;
    border-color : black;
  }
}

.notWorkable {
  background-color: black;
  opacity : 1;
  color:black;
}


.type_2 {     /* Congé  placé après le not workable (prioritaire)*/
  background-color: yellow;
  opacity: 0.5;
  color:black;
}
.unconfirmed_2 {
  animation: blinker2 1s linear infinite;
}
@keyframes blinker2 {
  50% {
    border-width: 0 20px 0 20px;
    border-color : yellow;
  }
}


.border {
  border:1px;
  border-style: solid;
  border-radius: .25em;
}

.user {
  border-top: 3px solid yellow !important;
    border-bottom: 3px solid yellow !important;
}
