#gestionEp .modal-dialog {
  width: 600px;
  margin-top: 10%;
}
#gestionEp .modal-header {
  color:black;
}
#gestionEp .modal-content {
  height:500px;
  color:white;
  background-color : DarkGray;
  border: 0px;
}
.tabLeft  {
  height:20%;
}
.tabLeft > a {
  line-height:7vh;
}
#exTab1 .carre {
  background-color: DarkGray;
}
#exTab1 .tab-content {
  color : white;
  padding : 5px 15px;
  background-color : #44546A;
}
#exTab1 .nav > li > a {
  height:100%;
}
#exTab1 [class*="col-"] {
  padding:0px;
  border : 0px;
  background-color : DarkGray;
}
#exTab1 .nav-stacked > li + li  {
  margin-top:0px;
}
#exTab1 .carre [class*="row"] {
  padding:5px;
}
#exTab1 .carre [class*="col-"]  {
  background-color : #44546A;
}
#exTab1 li > a {
  background-color: dimgray;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color : black;
  border-radius: 0px;
}
#exTab1 .nav-pills > li.active > a  {
  background-color : #44546A;
}
#exTab1 .nav-pills > li > a:hover  {
  background-color : gray;
  color: black;
}
#prestartForm [class*="col-"]{
  padding:0px 10px;
}
#prestartForm .checkbox{
  text-align: left;
  margin-left: 20px;
}

#exTab1 .tab-content a  {
  color:white;
}
#exTab1 .tab-content a:hover {
  color: lightgrey;
}

#document {
  background-color:#536E94 !important;
}
#document div{
  background-color:#536E94 !important;
}

.gestionEpCommentaire{
  color: yellow;
  background-color: inherit;
  text-align: left;
  border: 0px;
  width:100%;
  resize:none;
}

.uploadFile > input
{
  display: none;
}

.uploadFile img
{
  height: 80px;
  cursor: pointer;
}
.radio  {
  margin-top:5px;
}

#check_rupture{
  cursor: pointer;
}
.newval  {
  color:gray;
  font-style: italic;
}
#notComments .form-group  {
  margin : 10px 5px 10px 0px;
}

.small{
  padding:2px;
}


.PS_Val_0  {
  width: 100%;
}
.PS_Val_1  {
  display:inline;
  width: 45%;
}
.PS_Val_2  {
  display:inline;
  width: 45%;
}
.PS_Val_3  {
  display:inline;
  width: 45%;
}


button.create,
div.TDR {
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  /*background-color: #eee;*/
  background-color: inherit;
  //min-height: 105px;
  padding: 5px;
  margin: 1em 2% 0 0;
}

button.create:hover {
  background-color: #ddd;
}

div.TDR i.edit,
div.TDR i.remove {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #999;
}

div.TDR i.remove {
  right: 25px;
}

div.TDR i.edit:hover,
div.TDR i.remove:hover {
  color: black;
}

div.TDR dl {
  margin: 0;
}

div.TDR dt {
  clear: both;
  float: left;
  width: 33%;
  padding-left: 2%;
  margin: 0;
  color: #999;
}

div.TDR dd {
  float: left;
  width: 65%;
  margin: 0;
}
